html{
    scroll-behavior: smooth;
}


body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png);
}

p, li, h3, label, ul{
    color:white;
    font-size: 20px;
}

a{
    color:red;
}

h1{
    display: inline-block;
    font-size: 30px;
    color:white;
}
h2{
    color:white;
    font-size: 25px;
}

.intro{
    width:100%;
    height:100%;
    margin-top:100px;
    text-align: center;
}

.img{
    width:auto;
    height: 400px;
}
.aboutMe{
    text-align: center;

}

.name{
    text-align: center;
}

.explanation{
    border: 1px solid white;
}

.whatDone{
    text-align: center;

}

.links{
    font-size:small;
    color: white;
}

.projects{
    border: 1px solid white;
    text-align: center;
    padding:10px;
    width:auto;
}

.crown{
    display:inline-grid;
    grid-template-columns: auto auto auto auto;
    position: relative;
}

.img2{
    display: -moz-inline-grid;
    width:100%;
    height:100%;
    border: 1px white solid;
}

.img3{
    display: -moz-inline-grid;
    width:100%;
    height:100%;
    border: 1px white solid;
}

.form{
    margin: auto;
    width:fit-content;
    text-align: center;
    background-color: black;
    border: 1px solid white;
    padding: 10px;
}

a:visited{
    color:white;
}

.textArea{
    height:50px;
    width:50%;
}


.contactDetails{
    
    text-align: center;
    
}

.list{
    align-content: center;
    text-align: center;
    border: 1px solid white;
}

footer {
    align-self:flex-end;
    position:fixed;
    bottom: 0;
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    background-color: midnightblue;
}
li{
    text-align: center;
    list-style-position: inside;
}

#name{
    font-family: 'Lobster', cursive;
}

#maxing{
    font-family: 'Lobster Two', cursive;
}

.Padding1{
    padding-top: 100px;
}

.Padding2{
    padding-top: 100px;
}

.Padding3{
    padding-top: 100px;
}

.EndPadding{
    padding-bottom: 100px;
}